name: Django Zapcasti

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Deploy to Server
        run: |
          cd /root/Django-site-zapchasty-admin
          git checkout master
          git fetch && git pull

          source ./venv/bin/activate
          python manage.py makemigrations && python manage.py migrate
          sudo systemctl restart zapchasty_admin
